.createSegments_main_div {
  position: absolute;
  /* left: 15%; */
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.createSegments_navBar_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #666666;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
}

.nav_left {
  display: flex;
  flex: 1 0 35%;
  margin-left: 0;
  height: 100%;
  justify-content: flex-start;
  vertical-align: baseline;
}

.nav_right {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 38px;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.server_pagination_table_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  border-radius: 10px;
}

.customFilter_button {
  border-radius: 10px !important;
  color: #fcd322 !important;
  border-color: #fcd322 !important;
  background-color: #666666 !important;
  font-size: 18px !important;
}

.customFilter_button:hover {
  background-color: #505050 !important;
  color: #fdcf00 !important;
  border-color: #fdcf00 !important;
}

.vertical_line {
  border-left: 1px solid white;
  height: 36px;
  margin-left: 5px;
  align-self: center;
}

/*Date Range Picker Arambh*/
.date_dynamic_and_static {
  color: white;
  font-size: 1.1rem;
  align-self: center;
  padding: 2px;
}

.rs_picker_toggle {
  background-color: #666666 !important;
}

/* .rs-picker-toggle-active {
    background-color: #666666 !important;
  } */

.rs_picker_toggle_value {
  color: white !important;
  font-size: 1.1rem !important;
}

.rs_picker_toggle_clean {
  color: white !important;
}

.rs_picker_toggle_caret {
  color: white !important;
}

/*Date Range Picker Samapt*/

.reset_filters_button {
  margin-right: 20px !important;
  border-radius: 10px !important;
  background-color: #fdfdfd !important;
  color: black !important;
  border: none !important;
  font-size: 18px !important;
  height: 100% !important;
}

.reset_filters_button:hover {
  background-color: rgb(235, 233, 233) !important;
}

.save_segments_button {
  background-color: #fcd322 !important;
  color: black !important;
  border: none !important;
  border-radius: 10px !important;
  font-size: 18px !important;
}

.save_segments_button:hover {
  background-color: #ffdf50 !important;
}

.save_segments_button:disabled {
  background-color: #efefef !important;
}

/*
  .save_segments_button:active {
    background-color: #efefef !important;
  } 
  */

.saveSegments_logo {
  margin-right: 17px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.save_segment_span {
  margin-top: 3px;
  margin-bottom: 3px;
}

.menu_icon {
  display: none;
}

.show_segments_button {
  margin-left: 20px !important;
  border-radius: 10px !important;
  background-color: #fdfdfd !important;
  color: black !important;
  border: none !important;
  font-size: 18px !important;
  height: 100% !important;
}

.createSegmets_body_div {
  position: relative;
  left: 15%;
}

.server_pagination_table_inner_body_div {
  position: inherit;
  align-content: center;
}

.filterTag_main_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.filterTag_text_div {
  background-color: #cccccc;
  padding: 5px;
  font-size: 12px;
  border: 1px solid black;
  width: fit-content;
  border-radius: 5px;
  margin-right: 3px;
}

.filterTag_Icon {
  margin-left: 3px;
  cursor: pointer;
}

/* 
  @media (max-width: 1535px) {
    .nav-middle {
      display: none;
    }
  } 
  */

@media (max-width: 1030px) {
  .reset_filters_button {
    display: none !important;
  }
  .save_segments_button {
    margin-left: 0;
  }
  .show_segments_button {
    display: none !important;
  }

  .menu_icon {
    display: block;
    margin-left: 3px;
  }
  /* 
    .reset_filters_button {
      margin-right: 2px !important;
    } 
    */
}

@media (max-width: 700px) {
  /* 
    .reset_filters_button {
      display: none !important;
    } 
    */
  .save_segments_button {
    display: none !important;
  }
}

@media (max-width: 560px) {
  .date_dynamic_and_static {
    display: none;
  }
}
