.column_filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.2vh;
}

.column_filters_input_name {
  display: flex;
  padding: 1.2vh;
}

.column_filters_select_field {
  display: flex;
  padding: 1.2vh;
}

.column_filters_buttons {
  display: flex;
  flex-direction: column;
  padding-left: 1.2vh;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
}

.datatable_main_div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.datatable_buttons {
  display: flex;
  align-self: flex-end;
}

.datatable_container {
  overflow-x: scroll;
}

.csv_download_container {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-top: 1.1vh;
  margin-right: 1.1vw;
}

.csv_download_button {
  background-color: #616161;
  color: white;
  border-radius: 0.4vh;
  font-size: 1.6rem;
  padding: 0.2vh 1.9vh;
  margin-right: 0.2vw;
}
.datatable_main_div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.datatable_buttons {
  display: flex;
  align-self: flex-end;
}

.datatable_container {
  overflow-x: scroll;
}

.csv_download_container {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-top: 1.5vh;
  margin-right: 1.5vw;
}

.csv_download_button {
  background-color: #616161;
  color: white;
  border-radius: 0.6vh;
  font-size: 1.5rem;
  padding: 0.6vh 1.9vh;
  margin-right: 0.9vw;
}
.syncModal_progress{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.syncModal_progress_icon {
  display: flex;
  align-self: center;
}

.syncModal_progress_text {
  display: flex;
  align-self: center;
  width: fit-content;
}

.input_column_filtering {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
