.homepage_div{
  display: flex;
  /* width:100%;
  height:100vh; */
  /* flex-direction: row; */
}

.homepage_div_piechart{
  width:40%;
}

.homepage_title{
  font-size: 1.7rem;
  /* align-self: flex-start; */
  /* width:100vh; */
}

/* .homepage_div_stats{
  width: 500px;
  display:flex;
  height: 500px;
  font-size: larger;
  flex-direction: row-reverse;
  padding: 8%;
} */
/* 
.homepage_ol{
  list-style: none;
  align-items:inherit;
} */

.homepage_outer_div{
  background-color: beige;
}
