.saved_segments_div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.save_segments_cards {
  display: flex;
  align-items: center;
  margin: 1.1vh;
}

.customFilter_button {
  color: white !important;
  border-color: white !important;
  background-color: #666666 !important;
  font-size: 1.2rem !important;
  width: 100%;
}

.customFilter_button:hover {
  background-color: #505050 !important;
  color: #fdcf00 !important;
  border-color: #fdcf00 !important;
}

.cardStyle{
  background-color: #666666;
}